<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Forgot Password</title>

    <link rel="stylesheet" th:href="@{/css/auth.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

</head>

<body>

<div class="container">

    <div class="card">

        <h1>Forgot Password</h1>

        <p>
            Enter your registered email to receive an OTP.
        </p>

        <form id="forgotPasswordForm">

            <div class="input-group">

                <label>Email</label>
<input
        type="email"
        id="email"
        placeholder="Enter your email"
        required>

            </div>

            <button type="submit">

                Send OTP

            </button>
<p id="errorMessage" class="error"></p>
        </form>

        <div class="links">

            <a th:href="@{/view/login}">
                ← Back to Login
            </a>

        </div>

    </div>

</div>
<script th:src="@{/js/forgotPassword.js}"></script>
</body>

</html>