<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Reset Password</title>

    <link rel="stylesheet" th:href="@{/css/auth.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

</head>

<body>

<div class="container">

    <div class="card">

        <h1>Reset Password</h1>

        <p>Enter the OTP and your new password.</p>

        <form id="resetPasswordForm">

            <div class="otp-container">

                <input maxlength="1" class="otp-box" inputmode="numeric">
                <input maxlength="1" class="otp-box" inputmode="numeric">
                <input maxlength="1" class="otp-box" inputmode="numeric">
                <input maxlength="1" class="otp-box" inputmode="numeric">
                <input maxlength="1" class="otp-box" inputmode="numeric">
                <input maxlength="1" class="otp-box" inputmode="numeric">

            </div>

            <div class="input-group">

                <label>New Password</label>

                <input
                        type="password"
                        id="newPassword"
                        placeholder="Enter new password"
                        required>

            </div>

            <div class="input-group">

                <label>Confirm Password</label>

                <input
                        type="password"
                        id="confirmPassword"
                        placeholder="Confirm password"
                        required>

            </div>

            <button type="submit">

                Reset Password

            </button>

        </form>

    </div>
<p id="errorMessage" class="error"></p>
</div>

<script th:src="@{/js/otp.js}"></script>
<script th:src="@{/js/resetPassword.js}"></script>

</body>

</html>