<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <title>Verify Email</title>

    <link rel="stylesheet" th:href="@{/css/auth.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="container">

    <div class="card">

        <h1>Verify Email</h1>

        <p>Enter the 6-digit OTP sent to your email.</p>

       <form id="verifyForm">

    <div class="otp-container">

        <input maxlength="1" class="otp-box" inputmode="numeric">
        <input maxlength="1" class="otp-box" inputmode="numeric">
        <input maxlength="1" class="otp-box" inputmode="numeric">
        <input maxlength="1" class="otp-box" inputmode="numeric">
        <input maxlength="1" class="otp-box" inputmode="numeric">
        <input maxlength="1" class="otp-box" inputmode="numeric">

    </div>

    <button type="submit">
        Verify Email
    </button>

    <p id="errorMessage" class="error"></p>

</form>

        <div class="links">

            <a href="#">Resend OTP</a>

        </div>

    </div>

</div>

<script th:src="@{/js/otp.js}"></script>
<script th:src="@{/js/verifyEmail.js}"></script>
</body>
</html>